<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbDemoConnectionString" connectionString="Data Source=DESKTOP-KE20QFA\SQLEXPRESS01;Initial Catalog=dbDemo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="iMinutesConnectionString" connectionString="Data Source=DESKTOP-KE20QFA\SQLEXPRESS01;Initial Catalog=iMinutes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="iMinutesDemoConnectionString" connectionString="Data Source=DESKTOP-KE20QFA\SQLEXPRESS01;Initial Catalog=iMinutesDemo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="iMinutesConnectionString1" connectionString="Data Source=app9503.c9zef2m2zlax.ap-northeast-1.rds.amazonaws.com;Initial Catalog=iMinutes;Persist Security Info=True;User ID=app9503;Password=Passw0rd"
      providerName="System.Data.SqlClient" />
    <add name="iMinutesConnectionString(iMinutes)" connectionString="Data Source=app9503.c9zef2m2zlax.ap-northeast-1.rds.amazonaws.com;Initial Catalog=iMinutes;Persist Security Info=True;User ID=app9503"
      providerName="System.Data.SqlClient" />
    <add name="iMinutes(ec2amaz)" connectionString="Data Source=app9503.c9zef2m2zlax.ap-northeast-1.rds.amazonaws.com;Initial Catalog=iMinutes;Persist Security Info=True;User ID=app9503;Password=Passw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <location path="record.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  
</configuration>